<!DOCTYPE html>
<html lang="en">
    <%- include('./partialls/header.ejs') %>
<body>
    <%- include('./partialls/navbar.ejs') %>
    <div class="container p-3">
        <h1>hello <%=user.user_name%></h1>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>